# Dependencies
node_modules/

# Environment variables
.env
!.env.example

# Database
**/database/*.db
**/database/*.db-journal

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
